<link rel="stylesheet" href="/style/news/news.css">
<h1>TRANG TIN TUC</h1>
<div id="ctn-news">
    <div class="top-news">
        <div class="caption">
            <h1>Tin noi bat </h1>
            <span> Ngay than nam</span>
        </div>
        
        <div class="first-news">
            <h1>Tin hot nhat trong ngay</h1>
            
            <div class="detail-news">
               
                <div class="img" style="background-image: url('/img/yord.jpg');">
                </div>
                <h1 class="tittle">TIEU DE NEWS</h1>
                <span class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit provident id deserunt. Aliquam rerum, distinctio non natus unde laboriosam perferendis veritatis possimus autem ducimus nisi, dolor dolore cum modi facilis!</span>
            </div>
        </div>
        <div class="second-news detail-news">
            <div class="img" style="background-image: url('/img/hayate.jpg');"></div>
            <h1 class="tittle">tieu de</h1>
            <span class="description">Suscipit provident id deserunt. Aliquam rerum, distinctio non natus unde laboriosam perferendis veritatis possimus autem ducimus nisi, dolor dolore cum modi facilis!</span>
        </div>
        <div class="third-news detail-news">
            <div class="img" style="background-image: url('/img/rocker.jpg');"></div>
            <h1 class="tittle">tieu de</h1>
            <span class="description">lit. Suscipit prorunt. Aliquam rerum, distinctio non natus unde laboriosam perferendis veritatis possimus autem ducimus nisi, dolor dolore cum modi facilis!</span>
        </div>
        <div class="third-news detail-news">
            <h1 class="tittle">tieu de cang dai cang tot khoang bao nhieu la du</h1>
            <div class="img" style="background-image: url('/img/rocker.jpg');"></div>
            
            <span class="description">Lorem ipsum dolor suam rerum, distinctio non natus unde laboriosam perferendis veritatis possimus autem ducimus nisi, dolor dolore cum modi facilis!</span>
        </div>
        <div class="ctn-ads"></div>
    </div>
    <!-- TIN TUC -->
    <div class="name-news news-1">
        <h1 class="name-tittle">tin tuc</h1>
        <div class="detail-news">
            <h1 class="tittle">tieu de cang dai cang tot khoang bao nhieu la du</h1>
            <div class="img" style="background-image: url('/img/rocker.jpg');"></div>
            
            <span class="description">Lorem ipsum dolor suam rerum, distinctio non natus unde laboriosam perferendis veritatis possimus autem ducimus nisi, dolor dolore cum modi facilis!</span>
        </div>
        <div class="detail-news">
            <h1 class="tittle">tieu de cang dai cang tot khoang bao nhieu la du</h1>
            <div class="img" style="background-image: url('/img/rocker.jpg');"></div>
            
            <span class="description">Lorem ipsum dolor suam rerum, distinctio non natus unde laboriosam perferendis veritatis possimus autem ducimus nisi, dolor dolore cum modi facilis!</span>
        </div>
        <div class="detail-news">
            <h1 class="tittle">tieu de cang dai cang tot khoang bao nhieu la du</h1>
            <div class="img" style="background-image: url('/img/rocker.jpg');"></div>
            
            <span class="description">Lorem ipsum dolor suam rerum, distinctio non natus unde laboriosam perferendis veritatis possimus autem ducimus nisi, dolor dolore cum modi facilis!</span>
        </div>
    </div>
    <!-- END TIN TUC -->

    <!-- THE THAO -->
    <div class="name-news news-2">
        <h1 class="name-tittle">the thao</h1>
        <div class="detail-news">
            <h1 class="tittle">tieu de cang dai cang tot khoang bao nhieu la du</h1>
            <div class="img" style="background-image: url('/img/rocker.jpg');"></div>
            
            <span class="description">Lorem ipsum dolor suam rerum, distinctio non natus unde laboriosam perferendis veritatis possimus autem ducimus nisi, dolor dolore cum modi facilis!</span>
        </div>
        <div class="detail-news">
            <h1 class="tittle">tieu de cang dai cang tot khoang bao nhieu la du</h1>
            <div class="img" style="background-image: url('/img/rocker.jpg');"></div>
            
            <span class="description">Lorem ipsum dolor suam rerum, distinctio non natus unde laboriosam perferendis veritatis possimus autem ducimus nisi, dolor dolore cum modi facilis!</span>
        </div>
        <div class="detail-news">
            <h1 class="tittle">tieu de cang dai cang tot khoang bao nhieu la du</h1>
            <div class="img" style="background-image: url('/img/rocker.jpg');"></div>
            
            <span class="description">Lorem ipsum dolor suam rerum, distinctio non natus unde laboriosam perferendis veritatis possimus autem ducimus nisi, dolor dolore cum modi facilis!</span>
        </div>
    </div>
    <!-- END THE THAO -->

    <!-- GIAI TRI -->
    <div class="name-news news-3">
        <h1 class="name-tittle">GIAI TRI</h1>
        <div class="detail-news">
            <h1 class="tittle">tieu de cang dai cang tot khoang bao nhieu la du</h1>
            <div class="img" style="background-image: url('/img/rocker.jpg');"></div>
            
            <span class="description">Lorem ipsum dolor suam rerum, distinctio non natus unde laboriosam perferendis veritatis possimus autem ducimus nisi, dolor dolore cum modi facilis!</span>
        </div>
        <div class="detail-news">
            <h1 class="tittle">tieu de cang dai cang tot khoang bao nhieu la du</h1>
            <div class="img" style="background-image: url('/img/rocker.jpg');"></div>
            
            <span class="description">Lorem ipsum dolor suam rerum, distinctio non natus unde laboriosam perferendis veritatis possimus autem ducimus nisi, dolor dolore cum modi facilis!</span>
        </div>
        <div class="detail-news">
            <h1 class="tittle">tieu de cang dai cang tot khoang bao nhieu la du</h1>
            <div class="img" style="background-image: url('/img/rocker.jpg');"></div>
            
            <span class="description">Lorem ipsum dolor suam rerum, distinctio non natus unde laboriosam perferendis veritatis possimus autem ducimus nisi, dolor dolore cum modi facilis!</span>
        </div>
    </div>
    <!-- END GIAI TRI -->

    <!-- SAN PHAM -->
    <div class="name-news news-4">
        <h1 class="name-tittle">san pham</h1>
        <div class="dt-product">
            <div class="img-product" style="background-image: url('/img/4143.jpg');">
            <div class="show-ac-product">
                <button value="22" onclick="addCart(22)"><i class="fas fa-cart-plus"></i></button>
                <button><i class="far fa-eye"></i></button>
                <button><i class="far fa-heart"></i></button>
            </div>
            </div>
            <div class="name-product"><span>asdasd</span></div>
            <div class="price-product"><span>546</span></div>
        </div>
        <div class="dt-product">
            <div class="img-product" style="background-image: url('/img/4143.jpg');">
            <div class="show-ac-product">
                <button value="22" onclick="addCart(22)"><i class="fas fa-cart-plus"></i></button>
                <button><i class="far fa-eye"></i></button>
                <button><i class="far fa-heart"></i></button>
            </div>
            </div>
            <div class="name-product"><span>asdasd</span></div>
            <div class="price-product"><span>546</span></div>
        </div>
        <div class="dt-product">
            <div class="img-product" style="background-image: url('/img/4143.jpg');">
            <div class="show-ac-product">
                <button value="22" onclick="addCart(22)"><i class="fas fa-cart-plus"></i></button>
                <button><i class="far fa-eye"></i></button>
                <button><i class="far fa-heart"></i></button>
            </div>
            </div>
            <div class="name-product"><span>asdasd</span></div>
            <div class="price-product"><span>546</span></div>
        </div>
    </div>
    <!-- END SAN PHAM -->

</div>