@media only screen and (min-width: 1024px) {
    .ctn-dashboard-news{
       
        border: 1px solid ;
        h1{
            text-align: center;
           
            margin: 1rem auto;
        }
        .ctn-show-news{
            background-color: rgba($color: #000000, $alpha: .1);
            padding: 1rem;
            border-radius: 1rem;
            .show-news{
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: auto;
                div{
                    border: 1px solid white;
                    text-align: center;
                    padding:  .5rem 0px 0.5rem 0px;
                    background-color: rgba($color: #000000, $alpha: .1);
                }
                .tittle{
                   
                    
                    
                }
                .description{
                    
                    grid-column: 4/6;
                   
                }
                .img{
                    grid-column: 2/4;
                    
                    padding: .5rem ;
                    .img_detail{                
                        width: 100%;
                        padding-top: 60%;
                        background-size: 100% 100%;
                    }
                }
                .url{
                   
                }
            }
        }
        .custom-select {
            width: 80%;
            margin-left: 10%;
            border: 1px solid black;
            border-radius: 4px;
          }
        

    }

}
