<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../lib/reset.css">
    <link rel="stylesheet" href="layout.css">

</head>
<style>
    .container {
        background-color: olive;
    }
    
    h1 {
        color: white;
        font-size: 3rem;
        padding: 1rem;
        text-align: center;
    }
</style>

<body>
    <div class="layout wide container">
        <h1>hello</h1>
    </div>
</body>

</html>