* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bor {
    border: 1px solid;
}

.ctn-modal{
    width: 90%;
    height: 90%;
    background-color: white;
    margin: auto;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

button {
    background-color: inherit;
    /* Green */
    border: 1px solid;
    color: inherit;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    outline: inherit;
    font-weight: 600;
}

button:hover{
    border: 1px solid #0062cc;
}

input {
    background-color: inherit;
    color: inherit;
    border: 1px solid;
    padding: .5rem;
    outline: inherit;
}

.btn-facebook {
    display: none;
    display: block;
    background-color: white;
    color: #0062cc;
}

.btn-facebook:hover {
    background-color: #0062cc;
    color: white;
    border: 1px solid #0062cc;
}

.btn-google {
    display: none;
    display: block;
    background-color: white;
    color: red;
}

.btn-google:hover {
    background-color: red;
    color: white;
    border: none;
}

i {
    overflow: hidden;
    display: flex;
    float: left;
}

.ctn-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ctn-row.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ctn-row.left {
    text-align: center;
    align-items: center;
    justify-content: flex-start;
}

.ctn-row .w-25 {
    flex: 0 0 25%;
}

.ctn-row .w-75 {
    flex: 0 0 75%;
}

.ctn-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ctn-col.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ctn-col.left {
    text-align: center;
    align-items: center;
    justify-content: flex-start;
}

.ctn-col .w-25 {
    flex: 0 0 25%;
}

.ctn-col .w-75 {
    flex: 0 0 75%;
}

