* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-dark{
    background-color: #0062cc;
    color: white;
}

h1{
    display: block;
    font-size: 2rem;
    font-weight: 600;
}

.bor {
    border: 1px solid;
}

.ctn-modal{
   
    width: 90%;
    height: 90%;
    background-color: white;
    margin: auto;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

button {
    background-color: inherit;
    /* Green */
    border: 1px solid;
    color: inherit;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    outline: inherit;
    font-weight: 600;
}

button:hover{
    border: 1px solid #0062cc;
}

input {
    background-color: inherit;
    color: inherit;
    border: 1px solid;
    padding: .5rem;
    outline: inherit;
}

.btn-facebook {
    display: none;
    display: block;
    background-color: white;
    color: #0062cc;
}

.btn-facebook:hover {
    background-color: #0062cc;
    color: white;
    border: 1px solid #0062cc;
}

.btn-google {
    display: none;
    display: block;
    background-color: white;
    color: red;
}

.btn-google:hover {
    background-color: red;
    color: white;
    border: none;
}

i {
    overflow: hidden;
    display: flex;
    float: left;
}

.ctn-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ctn-row.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ctn-row.left {
    text-align: center;
    align-items: center;
    justify-content: flex-start;
}

.ctn-row .w-25 {
    flex: 0 0 25%;
}

.ctn-row .w-75 {
    flex: 0 0 75%;
}

.ctn-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ctn-col.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ctn-col.left {
    text-align: center;
    align-items: center;
    justify-content: flex-start;
}

.ctn-col .w-25 {
    flex: 0 0 25%;
}

.ctn-col .w-75 {
    flex: 0 0 75%;
}

.name-tittle{
    position: relative;
    width: 10rem;
    height: 3rem;
    background-color: #0062cc;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.name-tittle:after {
    content: '';
    position: absolute;
    top: 0rem;
    border-top: 3rem solid #0062cc;
    border-right: 3rem solid transparent;
    right: -3rem;
    position: absolute;
}
.dt-product {
    width: 100%;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    border: 1px solid #888888;
   
    .img-product {
        width: 100%;
        padding-top: 100%;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: auto;
        border-radius: 10px 10px 0px 0px;
        position: relative;
        .show-ac-product {
            display: flex;
            height: 100%;
            flex-direction: column;
            top: 0px;
            left: 0.5rem;
            position: absolute;
            justify-content: space-around;
            max-width: 0rem;
            overflow: hidden;
            transition: max-width 0.2s ease-in-out;
            i {
                background-color: #0062cc;
                display: flex;
                flex-direction: row;
                color: #fff;
                cursor: pointer;
                padding: .5rem;
                border: 1px solid #0062cc;
                border-radius: 9px 9px 9px 9px;
            }
            button{
                border: unset;
            }
        }
    }
    .name-product {
        margin: 0.5rem auto;
        font-size: 1.2rem;
    }
    .price-product {
        margin: 0.5rem auto;
        padding-top: 1rem;
        background-color: red;
        border-radius: 9px 9px 9px 9px;
        padding: 0.5rem;
        color: #fff;
        font-weight: bold;
    }
}
.dt-product:hover {
    box-shadow: 5px 5px 3px #aaaaaa;
    .img-product {
        background-size: 120% 120%;
        .show-ac-product {
            display: flex;
            max-width: 10rem;
            i:hover {
                background-color: #fff;
                color: #0062cc;
                border: 1px solid #0062cc;
            }
        }
    }
}

.ctn-form{
    margin: 1rem ;
    background-color: rgba(0,0,0,0.05);
    padding: 1rem;
    border-radius: 1rem;
    h1{
        color: #0062cc;
        text-align: center;
    }
    .field{
        width: 100%;

        margin: 1rem auto;
        label{
            font-size: 1.5rem;
            display: block;
            font-weight: 600;
            
        }
        .field-value{
            display: block;
            margin: .5rem auto;
            width: 80%;
            padding: .5rem;
            border-radius: 4px;
            cursor: pointer;
            resize: none;
            
           
            background-color: rgba(0,0,0,0.2);
            &:focus{
                background-color: white;
            }
            .field-value-item{
               height: 2rem;
               
              
            }
            option{
                padding: 1rem;
            }
            
        }
        .mess-error{
            display: block;
            width: 80%;
            margin: auto;
        }
    }
    .btn{
        padding: 1rem;
        margin-left: 10%;
        background-color: white;
        border:1px solid #0062cc;
        border-radius: 4px;
        color: #0062cc;
        &:hover{
            background-color: #0062cc;
            color: white;
        }
    }

}
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    border: 1px solid black;
   
    
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
   background-color: rgba($color: #000000, $alpha: .2);
  
   border-radius: 4px;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: white;
    color: black;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }