@media (max-width: 739px) {
    #order-body {
        font-size: 7px;
        width: 90%;
    }
    .form-cart {
        font-size: 12px;
    }
}

@media (min-width: 769) {
    #order-body {
        font-size: 16px;
    }
}

.form-cart {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    label {
        margin-bottom: .5em;
    }
    input {
        font-size: 1em;
        padding: 0;
        border: none;
        border-bottom: 1px dotted;
        color: #000000;
    }
    textarea {
        width: 100%;
    }
}

#order-body {
    margin: auto;
    padding: 1em 0;
    background-color: rgba($color: #000000, $alpha: .04);
    h1 {
        font-size: 2em;
        font-weight: 600;
        text-align: center;
        display: block;
    }
    button {
        float: right;
        margin-top: 2em;
        &:hover {
            background-color: rgba($color: #000000, $alpha: .7);
            // background-color: #000000;
            color: white;
        }
    }
    .date {
        text-align: right;
        margin-bottom: 2em;
    }
    #cart-content {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        h1 {
            width: 100%;
            font-size: 2em;
            display: block;
            text-align: left;
        }
        a {
            color: #0062cc;
            margin-left: auto;
            &:hover {
                text-decoration: underline solid;
            }
        }
        table {
            width: 100%;
            border-collapse: collapse;
            tr {
                td {
                    background-color: rgba($color: #000000, $alpha: .1);
                    padding: 1em;
                    border: 1px solid white;
                    button {
                        display: none;
                        align-items: center;
                        justify-content: center;
                        width: 2em;
                        height: 2em;
                    }
                    input {
                        width: 3em;
                        height: 2em;
                        border: none;
                        all: unset;
                        &:focus {
                            display: none;
                        }
                    }
                }
                th {
                    background-color: rgba($color: #000000, $alpha: .6);
                    border: 1px solid;
                    padding: 1em;
                    color: white;
                }
            }
        }
    }
}

.name-product {
    text-align: left;
    div {
        // justify-content: left;
        align-items: center;
        border: #000000;
        flex-wrap: nowrap;
        button {
            margin-left: auto;
        }
    }
    span {
        margin: 0 1em;
    }
    img {
        width: 4em;
        height: 4em;
    }
}

.subtotal-product {
    text-align: right;
}

.qty-product {
    text-align: center;
    div {
        flex-wrap: nowrap;
    }
}