body {
  background-color: rgba(168, 156, 156, 0.03);
}

#main-body {
  padding: 0;
}

#main-body #ctn-product {
  width: 100%;
  margin: 0;
}

#main-body #ctn-product .show-ac-product button {
  all: unset;
}

#main-body h1 {
  position: relative;
  width: 15rem;
  height: 3rem;
  background-color: #0062cc;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

#main-body h1:after {
  content: '';
  position: absolute;
  top: 0rem;
  border-top: 3rem solid #0062cc;
  border-right: 3rem solid transparent;
  right: -3rem;
  position: absolute;
}

@media screen and (min-width: 769px) {
  #ctn-product {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #ctn-product .dt-product:last-child {
    margin-right: auto;
    margin: 0;
  }
  #ctn-product .dt-product {
    width: 32%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 1px solid #888888;
    margin-bottom: 1rem;
  }
  #ctn-product .dt-product .img-product {
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
  }
  #ctn-product .dt-product .img-product .show-ac-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0px;
    left: 0.5rem;
    position: absolute;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 0rem;
    overflow: hidden;
    -webkit-transition: max-width 0.2s ease-in-out;
    transition: max-width 0.2s ease-in-out;
  }
  #ctn-product .dt-product .img-product .show-ac-product i {
    background-color: #0062cc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #fff;
    cursor: pointer;
    padding: .5rem;
    border: 1px solid #0062cc;
    border-radius: 9px 9px 9px 9px;
  }
  #ctn-product .dt-product .name-product {
    margin: 0.5rem auto;
    font-size: 1.2rem;
  }
  #ctn-product .dt-product .price-product {
    margin: 0.5rem auto;
    padding-top: 1rem;
    background-color: red;
    border-radius: 9px 9px 9px 9px;
    padding: 0.5rem;
    color: #fff;
    font-weight: bold;
  }
  #ctn-product .dt-product:hover {
    -webkit-box-shadow: 5px 5px 5px #aaaaaa;
            box-shadow: 5px 5px 5px #aaaaaa;
  }
  #ctn-product .dt-product:hover .img-product {
    background-size: 120% 120%;
  }
  #ctn-product .dt-product:hover .img-product .show-ac-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 10rem;
  }
  #ctn-product .dt-product:hover .img-product .show-ac-product i:hover {
    background-color: #fff;
    color: #0062cc;
    border: 1px solid #0062cc;
  }
  .pagination-product {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .pagination-product button {
    background-color: #0062cc;
    color: white;
    margin-right: .3rem;
    width: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #ctn-product {
    width: 100%;
    margin: auto;
    margin-left: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #ctn-product .dt-product {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 1px solid #888888;
    margin-bottom: 1rem;
  }
  #ctn-product .dt-product .img-product {
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    position: relative;
  }
  #ctn-product .dt-product .img-product .show-ac-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0px;
    left: 0.5rem;
    position: absolute;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 0rem;
    overflow: hidden;
    -webkit-transition: max-width 0.2s ease-in-out;
    transition: max-width 0.2s ease-in-out;
  }
  #ctn-product .dt-product .img-product .show-ac-product i {
    background-color: #0062cc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #fff;
    cursor: pointer;
    padding: .5rem;
    border: 1px solid #0062cc;
    border-radius: 9px 9px 9px 9px;
  }
  #ctn-product .dt-product .name-product {
    margin: 0.5rem auto;
    font-size: 1.2rem;
  }
  #ctn-product .dt-product .price-product {
    margin: 0.5rem auto;
    padding-top: 1rem;
    background-color: red;
    border-radius: 9px 9px 9px 9px;
    padding: 0.5rem;
    color: #fff;
    font-weight: bold;
  }
  #ctn-product .dt-product:hover {
    -webkit-box-shadow: 5px 5px 3px #aaaaaa;
            box-shadow: 5px 5px 3px #aaaaaa;
  }
  #ctn-product .dt-product:hover .img-product {
    background-size: 120% 120%;
  }
  #ctn-product .dt-product:hover .img-product .show-ac-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 10rem;
  }
  #ctn-product .dt-product:hover .img-product .show-ac-product i:hover {
    background-color: #fff;
    color: #0062cc;
    border: 1px solid #0062cc;
  }
  .pagination-product {
    width: 70%;
    margin: auto;
  }
  .pagination-product button {
    background-color: #0062cc;
    color: white;
    margin-right: 0.5rem;
  }
}
/*# sourceMappingURL=product.css.map */