<link rel="stylesheet" href="/style/dashboard/product.css">
<script src="//cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<div class="modal ctn-img" >
    
    <div class="ctn-modal">
        <button class="close-ctn-modal">&#215;</button>
        <div class="form-add-lib">
            
            <input type="file" name="fileToUpload" id="fileToUpload">
            <button class="btn-upload">them anh vao thu vien</button>
           
          
        </div>
        <div class="ctn-all-img">
            
        </div>


    </div>
</div>

<div class="form show-product">
    <h1>Danh muc san pham</h1>
    <div>
        <table>
            <tr>
                <th>stt</th>
                <th>ten san pham</th>
                <th>anh san pham</th>
                <th>gia ban</th>
                <th>sua</th>
                <th>xoa</th>
            </tr>

           
            <tr>
                <td>stt</td>
                <td>ten san pham</td>
                <td>anh san pham</td>
                <td>gia ban</td>
                <td><button>edit</button></td>
                <td><button>xoa</button></td>

            </tr>
            <tr>
                <td>stt</td>
                <td>ten san pham</td>
                <td>anh san pham</td>
                <td>gia ban</td>
                <td><button>edit</button></td>
                <td><button>xoa</button></td>

            </tr>
            <tr>
                <td>stt</td>
                <td>ten san pham</td>
                <td>anh san pham</td>
                <td>gia ban</td>
                <td><button>edit</button></td>
                <td><button>xoa</button></td>

            </tr>
           
           
        </table>
    </div>
</div>

<div class="form insert-product">
    <h1>them san pham moi</h1>
    <div class="form-group form-group1 ">
        <label for="">ten san pham:</label>
        <input class="field"  type="text" name="name" id="name-product">
        <span class="mess-rule"></span>
    </div>
    <div class="form-group form-group1 ">
        <label for="">anh</label>
        <input class="field"   name="img_id" type="text" name="" id="img-product">

        <div class="show-img-select">
        </div>
        <button id="show-modal-img">chon anh</button>
        <span class="mess-rule"></span>
    </div>
    <div class="form-group form-group1 ">
        <label for="">gia san pham:</label>
        <input class="field" name="price" type="text"  id="price-product">
        <span class="mess-rule"></span>

    </div>
    <div class="form-group form-group1 ">
        <label for="">Duong dan seo:</label>
        <input type="text" name="path" id="url-product" class="field">
        <span class="mess-rule"></span>
    </div>
    <div class="form-group form-group1 ">
        <label for="">noi dung:</label>
        <textarea class="field"   name="content" id="editor"></textarea>
        <span class="mess-rule"></span>  
    </div>
    <div class="btn-action ctn-row">
        <button class="btn-add-product">Them san pham</button>

    </div>
</div>

<script ></script>


<script src="/js/dashboard/dashboardproduct.js"></script>

<script type="module" src="/js/dashboard/product.js"></script>