<link rel="stylesheet" href="/style/news/dashboard.css">
<script src="//cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>



<div class="ctn-dashboard-news">
    <h1> danh sach tin tuc </h1>
    <div class="ctn-show-news">
        <div class="show-news bg-dark">
            <div class="number">stt</div>
            <div class="img">anh dai dien</div>
            <div class="description">mo ta</div>
            <div class="tittle">tieu de</div>
            <div class="url">duong dan</div>
            <div class="type_news">loai tin</div>
            <div class="date">ngay tao</div>
        </div>
        <div class="show-news">
            <div class="number">stt</div>
            <div class="img">anh dai dien</div>
            <div class="description">mo ta</div>
            <div class="tittle">tieu de</div>
            <div class="url">duong dan</div>
            <div class="type_news">loai tin</div>
            <div class="date">ngay tao</div>
        </div>
        <div class="show-news">
            <div class="number">stt</div>
            <div class="img">anh dai dien</div>
            <div class="description">mo ta</div>
            <div class="tittle">tieu de</div>
            <div class="url">duong dan</div>
            <div class="type_news">loai tin</div>
            <div class="date">ngay tao</div>
        </div>
    </div>
        

    <div id="form-dashboard-news" class="ctn-form">
        <h1>NHAP NOI DUNG TIN TUC</h1>
        <div name="tittle" class="field">
            <label>tittle</label>
            <input type="text" class="field-value">
            <div class="mess-error"></div>
        </div>
        <div name="top_news" class="field">
            <label>tin top</label>
            <input type="text" class="field-value">
            <div class="mess-error"></div>
        </div>
        <div name="img" class="field">
            <label>anh dai dien</label>
            <input type="text" class="field-value show-name-img">
            <div class="show-select-img">
                <!-- <div class="detail-img"  data-value="${nameImg}" style="background-image: url(/img/hayate.jpg);">
                    <button class="close" onclick="remove(this)">&#10006;</button>
                </div> -->
            </div>
            <button onclick="showModalImg()" class="btn btn-show-modal-img">chon anh</button>
            <div class="mess-error"></div>
        </div>
        <div name="news_id" class="field">
            <label>the loai</label>
            
            <select name="" class="field-value" id="news_type_dashboard">
                <option class="field-value-item" >chon loai tin</option>
                <option class="field-value-item" value="1">1</option>
                <option class="field-value-item" value="2">2</option>
                <option class="field-value-item" value="3">3</option>
            </select>
            
            <div class="mess-error"></div>
        </div>
        <div name="description" class="field">
            <label>Mo ta</label>
            <input type="text" class="field-value">
            <div class="mess-error"></div>
        </div>
        <div name="path" class="field">
            <label>duong dan</label>
            <input type="text" class="field-value">
            <div class="mess-error"></div>
        </div>
        <div name="content" class="field">
            <label>Content</label>
            <textarea type="text" id="editor" class="field-value"></textarea>
            <div class="mess-error"></div>
        </div>
        <button  id="btn-add-news" class="btn">them san pham</button>
    </div>

</div>
  
<script>

</script>
    


<script typy="" src="/js/news/dashboard.js"></script>
